<%- include('../partials/header') %>
    <div class="container-fluid account-container">
        <div class="row">
            <div class="col-lg-3 mb-4">
                <div class="side-menu">
                    <%- include('account/_sidebar', { active: 'orders_ready' }) %>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="account-card">
                    <h3 class="mb-3">Đơn hàng chờ lấy hàng</h3>
                    <p>Đơn hàng chờ lấy hàng sẽ hiển thị ở đây...</p>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>