<footer class="bg-dark text-white pt-4 pb-3 mt-5 border-top">
    <div class="container">
        <div class="row gy-4">
            <div class="col-md-4">
                <a href="/" class="d-inline-block mb-2">
                    <img src="/images/logo.png" alt="Fashion Store" style="height:40px;">
                </a>
                <p class="small text-secondary mb-0">Thời trang nam cao cấp, thiết kế hiện đại, chất lượng hàng đầu Việt
                    Nam.</p>
            </div>
            <div class="col-6 col-md-2">
                <h6 class="fw-bold mb-3">Danh mục</h6>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-secondary text-decoration-none">Trang chủ</a></li>
                    <li><a href="#" class="text-secondary text-decoration-none">Sản phẩm</a></li>
                    <li><a href="/men" class="text-secondary text-decoration-none">Nam</a></li>
                    <li><a href="/women" class="text-secondary text-decoration-none">Nữ</a></li>
                    <li><a href="/cart" class="text-secondary text-decoration-none">Giỏ hàng</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-3">
                <h6 class="fw-bold mb-3">Liên hệ</h6>
                <ul class="list-unstyled small">
                    <li><i class="fa-solid fa-phone me-2"></i> 0901 234 567</li>
                    <li><i class="fa-solid fa-envelope me-2"></i> fashion@shop.vn</li>
                    <li><i class="fa-solid fa-location-dot me-2"></i> 123 Đường Thời Trang, TP.HCM</li>
                </ul>
            </div>

            <div class="col-md-3">
                <h6 class="fw-bold mb-3">Kết nối</h6>
                <div>
                    <a href="#" class="text-secondary fs-5 me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-secondary fs-5 me-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-secondary fs-5 me-3"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
        <hr class="border-secondary my-3">
        <div class="text-center small text-secondary">
            &copy; <%= new Date().getFullYear() %> Fashion Store. All rights reserved.
        </div>
    </div>
</footer>